
#tex-inicial{
    border-width: 2px; /* Estiliza a largura */
    border-style: solid; /* Estiliza estilo */
    border-color:  rgb(2, 2, 66); /* Estiliza sua cor */
    border-radius: 20px; /*raio das bordas */
    padding: 2%; /* distância da margem interna */
    text-align: center;  /*justificar texto */
}



.container {
    text-align: center;
	height: 100%;
    display: flex;
    justify-content: center;
}

.botao {
    background-color: #9e5400; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    font-size: 24px; /* Tamanho da fonte */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Arredonda as bordas */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    transition: background-color 0.3s ease; /* Efeito de transição suave */
    display: block; /* Faz com que os botões sejam exibidos como elementos de bloco */
    margin-bottom: 10px; /* Espaçamento entre os botões */
}

.botao:hover{
	background-color: #b46d01; /* Cor de fundo ao passar o mouse*/
}


/**
*
* Reservado apenas para o menu 
*
*
* CSS Document */

body{
	margin: 0;
	font-family: sans-serif;
}

#btn-menu{
	display: none;
}
header{
	background-color: #9e5400;
	font-weight: 600;
}
header label{
	color: rgb(255, 242, 127);
	font-size: 20px;
	display: block;
	padding: 5px 10px;
	width: 20px;
	border-right: 1px solid #f8bb61;
	display: none;
}
header label:hover{
	background-color: #a16203;
}
.menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	transition: all .5s;
}
.menu li a{
	color: #EFEFEF;
	text-decoration: none;
	padding: 15px 20px;
	display: block;
	border-right: 1px solid #efefef;
}
.menu li a:hover{
	background-color: #4b2800;
}
@media(max-width: 768px){
	header label{
		display: block;
	}
	.menu ul{
		position: absolute;
		background-color: #794413;
		width: 70%;
		flex-direction: column;
		margin-left: -70%;
	}
	.menu li a{
		border-top: 1px solid #efefef;
	}
	#btn-menu:checked ~ .menu ul{
		margin-left: 0;	
	}
}